@import "tailwindcss";

:root {
  scroll-behavior: smooth;
}

/* ===== Scrollbar: Grey track + Green thumb ===== */


/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #0a1a38; /* grey track */
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb {
  background-color: #00bc7d; /* green thumb */
  border-radius: 999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #156231; /* darker green on hover */
}
